@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  height: 8px !important;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 8px !important;
  background-color: #ffffff3b;
  width: 8px;
}
